/* Navbar section */

.navbar{
    flex-direction: column;
}
.navbar ul li{
    font-size: 1rem;
}
.navbar ul li a{
    padding: 3px 13px;
    padding-bottom: 6px;
}
/* Home section */

#home{
height: 467px;
padding: 0px 11px;
font-size: 1rem;
}

#home p{
font-size: 0.9  rem;
}
#home::before{
    height: 534px;
}
.btn {
    padding: 2px 5px;
    border: 1px solid white;
   
}
/* Service Section */
#services{
    flex-direction: column;
}

/* Clients section */
.clients{
    flex-wrap: wrap;
}
.clients-items img {
    height: 66px;
}
/* Footer section */
footer div{
    font-size: 0.8rem;
}
/* Utility class  */
.h-primery{
    font-size: 2.2rem;
}
.h-secondary{
    font-size: 1.8rem;
}
